html {
  font-family: sans-serif;
}

body {
  background-color: #f1f1f1;
}

nav {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}

/* First div  */
.logo {
  margin-left: 10px;
  align-items: center;
  display: flex;
  width: 15%;
  height: 50px;
}

.logo i {
  font-size: 20px;
  color: #7f7f7f;
}

.logo img {
  margin-left: 20px;
  width: 100px;
  height: 30px;
}

/* second div */
.search-bar {
  display: flex;
  width: 60%;
  align-items: center;
}
#main-search-bar {
  width: 70%;
  height: 35px;
  border: solid 0.5px #ccc;
  outline: none;
  font-size: 15px;
  color: #ccc;
  /* margin-left: -60px; */
}

.search-bar button {
  width: 60px;
  height: 35px;
  border: solid 0.5px #ccc;
  border-left-style: none;
  outline: none;
}

.search-bar button .fas {
  color: #333;
}

/* Third  div */

.icons {
  display: flex;
  width: 12%;
  justify-content: space-between;
  align-items: center;
}

.icons .fas {
  color: #7f7f7f;
  font-size: 20px;
}

.container {
  display: flex;
  width: 100%;
}

.card {
  background-color: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #ddd;
}

.video-section {
  padding-right: 10px;
  width: 1280px;
}
/* Video info */
.video-info {
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-size: 25px;
  margin-left: 5px;
  margin-bottom: 0;
}

.sub-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-of-channel {
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  align-items: center;
}

.options .fa-user-circle {
  font-size: 50px;
  margin: 15px 5px 0 5px;
  color: #689f39;
}

.name-of-channel h3 {
  font-size: 15px;
  color: #333333;
}

.buttons button:first-of-type {
  background-color: #ff0000;
  color: white;
  outline: none;
  width: 90px;
  height: 24px;
  font-size: 12px;
  border: none;
  border-radius: 3px;
}

.buttons span {
  margin-left: 2px;
}

.views {
  display: flex;
  flex-direction: column;
}

.views h2 {
  margin-bottom: -15px;
  color: #666666;
}

.views .line-div {
  background-color: rgb(22, 122, 198);
  position: relative;
  top: 29px;
  right: 10px;
  height: 2px;
  width: 154px;
}

.buttons .number-of-sub {
  margin-left: -10px;
  width: 35px;
  height: 24px;
  border: 1px solid #7f7f7f;
  border-left-style: none;
  outline: none;
}

.primary-line-div {
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
}

.opinion {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 0 5px;
  color: #7f7f7f;
}

.opinion span {
  margin-left: 5px;
}

.opinion .share {
  display: flex;
  justify-content: space-between;
  width: 225px;
  font-family: sans-serif;
}

.opinion .share span {
  font-family: sans-serif;
}

.opinion .rating {
  display: flex;
  justify-content: space-between;
  width: 125px;
}

.opinion .rating i {
  font-size: 20px;
}

.opinion .rating span {
  font-size: 12px;
  font-family: sans-serif;
}

.desc-more {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  border-style: none;
  background-color: transparent;
  color: #7f7f7f;
}

.sidebar {
  width: 500px;
  background-color: red;
}
